<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GO Rest Test Suite" verbose="1" parallel="classes"
       thread-count="3">
    <listeners>
        <listener class-name="listener.ExtentReportListener" />

    </listeners>

    <test name="Go Rest regression Test"
          thread-count="3">
        <classes>
            <class name="tests.GetUsersTest" />
            <class name="tests.PostUserTest" />

        </classes>
    </test>
</suite>